<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>

  <!-- <% const title = 'some title' %> -->
  <%- include('../partials/nav.ejs') %>
   
      <div class="container">
        <!-- <%= JSON.stringify(items) %> -->
        <ul class="collection with-header">
            <!-- <li class="collection-header"><h4>First Names</h4></li> -->
            <% if (items.length>0){ %>
              <% items.forEach(item=>{%>
                <li class="collection-item"><div><a href="/items/<%= item._id%>"><%= item.name %>  $<%= item.price %></a><a href="#!" class="secondary-content">
                  <i class="material-icons">delete</i>
                  <i class="material-icons">edit</i>
                </a></div></li>


              <%})%>
             
           <% } else { %>
            <li>There no items </li>

           <%}%>
            <!-- <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li> -->
          </ul>
      </div>
      
    

</body>
</html>